<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Nokia Music</string>
				<key>CreatedDate</key>
				<date>2015-01-12T23:32:18Z</date>
				<key>ID</key>
				<string>page11</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Nokia Music</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-26T16:34:50Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bg_fill.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							wUbY6KRRk5YtB5fC9IbM
							ug==
							</data>
							<key>Size</key>
							<integer>45</integer>
						</dict>
						<key>files/small_39585.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_39612.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_39631.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/stacks_image_1725.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/KC6vZox4x2WNZfmfUVN
							Lg==
							</data>
							<key>Size</key>
							<integer>205417</integer>
						</dict>
						<key>files/stacks_image_1728.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							NaESyBoTZTBVnDA/adS9
							uA==
							</data>
							<key>Size</key>
							<integer>313792</integer>
						</dict>
						<key>files/stacks_image_1731.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							nvYZTcw3fnDSC/kgOxdF
							+g==
							</data>
							<key>Size</key>
							<integer>223861</integer>
						</dict>
						<key>files/stacks_image_1800.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ziVUx8OVidHpW23ZjXUd
							fQ==
							</data>
							<key>Size</key>
							<integer>174585</integer>
						</dict>
						<key>files/stacks_image_1803.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							CzGo6q0uZ3GpT6l1HcZx
							Xg==
							</data>
							<key>Size</key>
							<integer>175190</integer>
						</dict>
						<key>files/stacks_image_20056.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							NatuCy7UALuSRBZLOzcj
							Gw==
							</data>
							<key>Size</key>
							<integer>345120</integer>
						</dict>
						<key>files/stacks_image_20111.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PQ6Ehm5efGzVy2ZYw9oP
							cQ==
							</data>
							<key>Size</key>
							<integer>150455</integer>
						</dict>
						<key>files/stacks_image_3923.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							sfj2UuyTzaBqcSHZBRHx
							6A==
							</data>
							<key>Size</key>
							<integer>217027</integer>
						</dict>
						<key>files/stacks_image_4688.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							O5dlL2+rEGKcgnHP3Lgb
							0g==
							</data>
							<key>Size</key>
							<integer>239924</integer>
						</dict>
						<key>files/stacks_image_8653.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							0F0ZS0S2CNsAGArLAF17
							Kw==
							</data>
							<key>Size</key>
							<integer>143635</integer>
						</dict>
						<key>files/stacks_image_8656.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							D0GeY6V/mRQAC7zbP81a
							JQ==
							</data>
							<key>Size</key>
							<integer>279944</integer>
						</dict>
						<key>files/stacks_image_8659.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Q5GD/Ly6QDuGn9E88rTZ
							ow==
							</data>
							<key>Size</key>
							<integer>250199</integer>
						</dict>
						<key>files/stacks_image_8663.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							uIGDKVbiiIsab8LPJqqu
							tw==
							</data>
							<key>Size</key>
							<integer>281065</integer>
						</dict>
						<key>files/stacks_page_page11.css</key>
						<dict>
							<key>Digest</key>
							<data>
							5rH8LwUboLm7TLJpfJnD
							nQ==
							</data>
							<key>Size</key>
							<integer>140653</integer>
						</dict>
						<key>files/stacks_page_page11.js</key>
						<dict>
							<key>Digest</key>
							<data>
							pVCwo8iYAgBjQgQwI9ek
							Aw==
							</data>
							<key>Size</key>
							<integer>65984</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							5iNl2dM2V5ydqxDSfTdW
							iA==
							</data>
							<key>Size</key>
							<integer>41796</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page11</string>
					<key>SiteRoot</key>
					<string>work/nokia</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
