<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Nike Flyknit</string>
				<key>CreatedDate</key>
				<date>2015-01-12T23:32:17Z</date>
				<key>ID</key>
				<string>page9</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Nike</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-21T20:51:15Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bg_fill.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							wUbY6KRRk5YtB5fC9IbM
							ug==
							</data>
							<key>Size</key>
							<integer>45</integer>
						</dict>
						<key>files/small_38628.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_38655.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_38674.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_7186.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ozakiHIrr2nFGMO1gOft
							nw==
							</data>
							<key>Size</key>
							<integer>239551</integer>
						</dict>
						<key>files/stacks_image_13091.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							uD91IVyIpA1UgSpLwRMD
							Cw==
							</data>
							<key>Size</key>
							<integer>119753</integer>
						</dict>
						<key>files/stacks_image_13146.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fwU7BUCxIsQDW8hZol5S
							Eg==
							</data>
							<key>Size</key>
							<integer>197548</integer>
						</dict>
						<key>files/stacks_image_1725.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							upGaFA+IxMY5GPFREZNM
							/Q==
							</data>
							<key>Size</key>
							<integer>554248</integer>
						</dict>
						<key>files/stacks_image_1728.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							P/wZTeID8B6cAPpGJgBh
							MA==
							</data>
							<key>Size</key>
							<integer>352902</integer>
						</dict>
						<key>files/stacks_image_1731.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							hmn/tUl1EmO3VXFFYEji
							Hw==
							</data>
							<key>Size</key>
							<integer>635368</integer>
						</dict>
						<key>files/stacks_image_1800.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							y0djMpAxuhzy4q9i+UFc
							Aw==
							</data>
							<key>Size</key>
							<integer>139068</integer>
						</dict>
						<key>files/stacks_image_1803.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							NHL0Fzq8SvYVngkykdWL
							Uw==
							</data>
							<key>Size</key>
							<integer>259842</integer>
						</dict>
						<key>files/stacks_image_1810.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6FWkzV0YBoRU0yQmR4Yy
							Gg==
							</data>
							<key>Size</key>
							<integer>254977</integer>
						</dict>
						<key>files/stacks_image_3923.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							J2yQROhlImNvaPBJ2RhX
							pA==
							</data>
							<key>Size</key>
							<integer>199876</integer>
						</dict>
						<key>files/stacks_image_4688.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Dhm62vuOTcjlGMPAfJ1U
							nA==
							</data>
							<key>Size</key>
							<integer>545141</integer>
						</dict>
						<key>files/stacks_image_5161.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							uI+qnfQhYIDuDCE1rFHs
							OQ==
							</data>
							<key>Size</key>
							<integer>270348</integer>
						</dict>
						<key>files/stacks_image_5164.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							m4oc0eABfijqD5b3XedW
							Yw==
							</data>
							<key>Size</key>
							<integer>222857</integer>
						</dict>
						<key>files/stacks_image_5167.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							9r5EM8zOPQA7xwj8u1RE
							Dw==
							</data>
							<key>Size</key>
							<integer>219096</integer>
						</dict>
						<key>files/stacks_image_5171.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GTGzYfvOrbHYFTLP1+8M
							ug==
							</data>
							<key>Size</key>
							<integer>191530</integer>
						</dict>
						<key>files/stacks_page_page9.css</key>
						<dict>
							<key>Digest</key>
							<data>
							43V0gh7i5pzeze6H5XIz
							JA==
							</data>
							<key>Size</key>
							<integer>140650</integer>
						</dict>
						<key>files/stacks_page_page9.js</key>
						<dict>
							<key>Digest</key>
							<data>
							VIHHDcJnkAeXnsVxyG/K
							Fw==
							</data>
							<key>Size</key>
							<integer>65548</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							u+oyvfI55PY1iUrlbIru
							bw==
							</data>
							<key>Size</key>
							<integer>43093</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page9</string>
					<key>SiteRoot</key>
					<string>nike</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
