<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Playstation</string>
				<key>CreatedDate</key>
				<date>2015-01-12T15:12:24Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Playstation</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-26T16:23:26Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bg_fill.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							wUbY6KRRk5YtB5fC9IbM
							ug==
							</data>
							<key>Size</key>
							<integer>45</integer>
						</dict>
						<key>files/small_37990.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_38017.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_38036.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_7180.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PQ6Ehm5efGzVy2ZYw9oP
							cQ==
							</data>
							<key>Size</key>
							<integer>150455</integer>
						</dict>
						<key>files/stacks_image_13311.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fwU7BUCxIsQDW8hZol5S
							Eg==
							</data>
							<key>Size</key>
							<integer>197548</integer>
						</dict>
						<key>files/stacks_image_1725.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VlsbKj+vN49QLlDfQYjT
							SA==
							</data>
							<key>Size</key>
							<integer>258882</integer>
						</dict>
						<key>files/stacks_image_1728.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							KV/8EWieeQ4+y7B4XyXd
							Gw==
							</data>
							<key>Size</key>
							<integer>182734</integer>
						</dict>
						<key>files/stacks_image_1731.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							5XxPJhV0o3fUKRq+jdSl
							xw==
							</data>
							<key>Size</key>
							<integer>351221</integer>
						</dict>
						<key>files/stacks_image_1800.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YUOAUrEiQW3HYigMraAk
							vg==
							</data>
							<key>Size</key>
							<integer>287893</integer>
						</dict>
						<key>files/stacks_image_1803.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							0Qd0i3jL6H8wqacw9oO7
							CQ==
							</data>
							<key>Size</key>
							<integer>322356</integer>
						</dict>
						<key>files/stacks_image_1810.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							e8HSliY7WrL/kkLJKSIu
							Sw==
							</data>
							<key>Size</key>
							<integer>274022</integer>
						</dict>
						<key>files/stacks_image_19891.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							mUDDk/9Kp9Sink4zu956
							oQ==
							</data>
							<key>Size</key>
							<integer>264993</integer>
						</dict>
						<key>files/stacks_image_4688.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							L7FRayWdw016shdvPrFT
							1Q==
							</data>
							<key>Size</key>
							<integer>289307</integer>
						</dict>
						<key>files/stacks_page_page2.css</key>
						<dict>
							<key>Digest</key>
							<data>
							WGJD7VTyb613xygtwYtT
							cw==
							</data>
							<key>Size</key>
							<integer>134836</integer>
						</dict>
						<key>files/stacks_page_page2.js</key>
						<dict>
							<key>Digest</key>
							<data>
							mIoEAarhcm91WGAbIXCe
							Ug==
							</data>
							<key>Size</key>
							<integer>62699</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							n404r29aZOQOOXsyb467
							fQ==
							</data>
							<key>Size</key>
							<integer>40965</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>work/playstation</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
