<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Oracle</string>
				<key>CreatedDate</key>
				<date>2015-01-12T23:32:18Z</date>
				<key>ID</key>
				<string>page14</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Oracle</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-21T20:26:40Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bg_fill.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							wUbY6KRRk5YtB5fC9IbM
							ug==
							</data>
							<key>Size</key>
							<integer>45</integer>
						</dict>
						<key>files/small_39904.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_39931.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_39950.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_7193.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							dz0wRWWy2OqMJYSnxyaD
							zQ==
							</data>
							<key>Size</key>
							<integer>214347</integer>
						</dict>
						<key>files/stacks_image_1725.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							H2cNFC4eyeAgL6/15AnE
							ew==
							</data>
							<key>Size</key>
							<integer>125692</integer>
						</dict>
						<key>files/stacks_image_1728.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							h8pxNL1tvODFAnaJOFaY
							mg==
							</data>
							<key>Size</key>
							<integer>210960</integer>
						</dict>
						<key>files/stacks_image_1731.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ajBWe9gyLIu4liIY/aRb
							UA==
							</data>
							<key>Size</key>
							<integer>220580</integer>
						</dict>
						<key>files/stacks_image_1810.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							dy+OURkDdoBPqwcuWm6+
							qQ==
							</data>
							<key>Size</key>
							<integer>217286</integer>
						</dict>
						<key>files/stacks_image_20215.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							NatuCy7UALuSRBZLOzcj
							Gw==
							</data>
							<key>Size</key>
							<integer>345120</integer>
						</dict>
						<key>files/stacks_image_20270.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							EgovnkaiF7KI497STj8N
							9g==
							</data>
							<key>Size</key>
							<integer>61880</integer>
						</dict>
						<key>files/stacks_image_3923.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							9jMR5O4xN8dNWbk6m47H
							AQ==
							</data>
							<key>Size</key>
							<integer>232393</integer>
						</dict>
						<key>files/stacks_image_8653.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							0bEbXNjZ5csAd6zeXSla
							Ng==
							</data>
							<key>Size</key>
							<integer>80773</integer>
						</dict>
						<key>files/stacks_image_8656.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							vdaSv0PjABD/Fh1kaMIz
							IQ==
							</data>
							<key>Size</key>
							<integer>97213</integer>
						</dict>
						<key>files/stacks_image_8659.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kuvUB4n9vuwfR2sqzQui
							Hg==
							</data>
							<key>Size</key>
							<integer>124676</integer>
						</dict>
						<key>files/stacks_page_page14.css</key>
						<dict>
							<key>Digest</key>
							<data>
							UPmUP9nLUP77eW9c5fYL
							IA==
							</data>
							<key>Size</key>
							<integer>132937</integer>
						</dict>
						<key>files/stacks_page_page14.js</key>
						<dict>
							<key>Digest</key>
							<data>
							y6bylVlf5MXcnywAiVYz
							MA==
							</data>
							<key>Size</key>
							<integer>62394</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							WSWE3LZ0uVOhOHZewOoK
							vw==
							</data>
							<key>Size</key>
							<integer>38463</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page14</string>
					<key>SiteRoot</key>
					<string>oracle</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
