<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>About Future Visual</string>
				<key>CreatedDate</key>
				<date>2014-11-03T14:41:42Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>About</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-21T21:01:40Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/small_37671.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_37698.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_37717.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/stacks_image_22634.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							rviHhKAU1bhLw91OJw74
							Gg==
							</data>
							<key>Size</key>
							<integer>218959</integer>
						</dict>
						<key>files/stacks_image_22636.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							18fhahV/+jxQBK8QOSS8
							XQ==
							</data>
							<key>Size</key>
							<integer>254912</integer>
						</dict>
						<key>files/stacks_image_22638.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kNZbJXFBc15IApLD5cgK
							wA==
							</data>
							<key>Size</key>
							<integer>64435</integer>
						</dict>
						<key>files/stacks_image_3758.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							BtHt3+OnYHsCaPEeMlRv
							aw==
							</data>
							<key>Size</key>
							<integer>80384</integer>
						</dict>
						<key>files/stacks_image_3760.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							xcWzcStfJTt1Yg1P7+lm
							nw==
							</data>
							<key>Size</key>
							<integer>85192</integer>
						</dict>
						<key>files/stacks_image_3764.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							jJSFztH2tUenicFlaMcs
							jQ==
							</data>
							<key>Size</key>
							<integer>51487</integer>
						</dict>
						<key>files/stacks_image_3766.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							jvMY9vPmZQ4T2IXm8kRf
							gw==
							</data>
							<key>Size</key>
							<integer>85081</integer>
						</dict>
						<key>files/stacks_image_3999.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							KV31FiX40WRUBk9dakfD
							hA==
							</data>
							<key>Size</key>
							<integer>81839</integer>
						</dict>
						<key>files/stacks_image_4009.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							jhu2Hix1zGOIpCp8NmHq
							dQ==
							</data>
							<key>Size</key>
							<integer>139271</integer>
						</dict>
						<key>files/stacks_image_4297.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							lOmy2QUNe9FQJqUYyy/h
							oA==
							</data>
							<key>Size</key>
							<integer>96721</integer>
						</dict>
						<key>files/stacks_image_4299.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZYcEIQc8TlL52dSgTXMf
							Tw==
							</data>
							<key>Size</key>
							<integer>63408</integer>
						</dict>
						<key>files/stacks_image_4301.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							f6mnYIhhWw1EzqkqkgeE
							UQ==
							</data>
							<key>Size</key>
							<integer>50630</integer>
						</dict>
						<key>files/stacks_image_4304.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							lb8gyGTq+RdKztZ1kiyr
							og==
							</data>
							<key>Size</key>
							<integer>72068</integer>
						</dict>
						<key>files/stacks_page_page5.css</key>
						<dict>
							<key>Digest</key>
							<data>
							afVbmSZWbT8Fu2CN1lad
							yg==
							</data>
							<key>Size</key>
							<integer>108277</integer>
						</dict>
						<key>files/stacks_page_page5.js</key>
						<dict>
							<key>Digest</key>
							<data>
							RLS5OqADU6soYYpvEvN1
							Gg==
							</data>
							<key>Size</key>
							<integer>59169</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							gjFsk5Q/m9fiudZLrIGD
							ng==
							</data>
							<key>Size</key>
							<integer>36748</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page5</string>
					<key>SiteRoot</key>
					<string>About</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
