<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Ferrari Scuderia</string>
				<key>CreatedDate</key>
				<date>2015-01-12T13:29:26Z</date>
				<key>ID</key>
				<string>page18</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Template</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-25T15:29:12Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bg_fill.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							wUbY6KRRk5YtB5fC9IbM
							ug==
							</data>
							<key>Size</key>
							<integer>45</integer>
						</dict>
						<key>files/stacks_image_1725.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1r+gCfiZMV5K0palTkqL
							WQ==
							</data>
							<key>Size</key>
							<integer>351996</integer>
						</dict>
						<key>files/stacks_image_1728.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							M1Z6kmGXdOhNkzHSAfdB
							9w==
							</data>
							<key>Size</key>
							<integer>350419</integer>
						</dict>
						<key>files/stacks_image_1731.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							KP5xzRe1f6AOgFsGlHt9
							uA==
							</data>
							<key>Size</key>
							<integer>379694</integer>
						</dict>
						<key>files/stacks_image_1800.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							uGqLAj3Q0nrOxshMF6sE
							8g==
							</data>
							<key>Size</key>
							<integer>271557</integer>
						</dict>
						<key>files/stacks_image_1803.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							aYIcXn27QEJbUefOdUlV
							4A==
							</data>
							<key>Size</key>
							<integer>381514</integer>
						</dict>
						<key>files/stacks_image_1806.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							3nmOjTd78z3uskrZMfYE
							UQ==
							</data>
							<key>Size</key>
							<integer>281010</integer>
						</dict>
						<key>files/stacks_image_1810.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							cAVNXs+X4SVSwI28Os8M
							Cw==
							</data>
							<key>Size</key>
							<integer>382422</integer>
						</dict>
						<key>files/stacks_image_1971.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6q0fRLCVxcl8bpZNaNGs
							WA==
							</data>
							<key>Size</key>
							<integer>6575</integer>
						</dict>
						<key>files/stacks_image_1975.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZTxA4RFkZeIDs48c9nOr
							RA==
							</data>
							<key>Size</key>
							<integer>33623</integer>
						</dict>
						<key>files/stacks_image_1983.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							z605CRxbCceO9F0OqJLC
							yw==
							</data>
							<key>Size</key>
							<integer>336734</integer>
						</dict>
						<key>files/stacks_image_1986.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							gl/abatZtEHjmw3BEpJE
							Uw==
							</data>
							<key>Size</key>
							<integer>355804</integer>
						</dict>
						<key>files/stacks_image_1991.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							NX4zPwPS97FZz3rfoktd
							/Q==
							</data>
							<key>Size</key>
							<integer>8234</integer>
						</dict>
						<key>files/stacks_page_page18.css</key>
						<dict>
							<key>Digest</key>
							<data>
							mYtG48gXELvmOjCleuaG
							Eg==
							</data>
							<key>Size</key>
							<integer>72726</integer>
						</dict>
						<key>files/stacks_page_page18.js</key>
						<dict>
							<key>Digest</key>
							<data>
							lSTrp8Tn0oQdiRoPWtK+
							TA==
							</data>
							<key>Size</key>
							<integer>18545</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							CzZs/CMlyQckXzt7+2pg
							Gg==
							</data>
							<key>Size</key>
							<integer>31716</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page18</string>
					<key>SiteRoot</key>
					<string>work/page18</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
