<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Feb 2015</string>
				<key>CreatedDate</key>
				<date>2015-04-22T23:38:51Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Feb2015</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-04-01T10:39:19Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/small_40861.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_40888.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_40907.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/stacks_image_21742.png</key>
						<dict>
							<key>Digest</key>
							<data>
							M5ConilXLVc+z2OH797I
							IQ==
							</data>
							<key>Size</key>
							<integer>558313</integer>
						</dict>
						<key>files/stacks_image_21744.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7VXhu6ovyrFw85QR3rSJ
							ZQ==
							</data>
							<key>Size</key>
							<integer>395437</integer>
						</dict>
						<key>files/stacks_page_page6.css</key>
						<dict>
							<key>Digest</key>
							<data>
							7vwAaLCH6wW6nRv+DuvR
							0A==
							</data>
							<key>Size</key>
							<integer>66283</integer>
						</dict>
						<key>files/stacks_page_page6.js</key>
						<dict>
							<key>Digest</key>
							<data>
							ORjWLYsUX9+uvE4zFUq4
							9w==
							</data>
							<key>Size</key>
							<integer>32610</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							4QZLDtzi1IHcA7PpMh9G
							7A==
							</data>
							<key>Size</key>
							<integer>23784</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page6</string>
					<key>SiteRoot</key>
					<string>lab/page6</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
