<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Home</string>
				<key>CreatedDate</key>
				<date>2014-11-04T18:22:17Z</date>
				<key>ID</key>
				<string>page8</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Home</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-23T17:48:25Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>apple-touch-icon.png</key>
						<dict>
							<key>Digest</key>
							<data>
							SnGOtQenuwnpiE0Ja3RE
							Xw==
							</data>
							<key>Size</key>
							<integer>13279</integer>
						</dict>
						<key>favicon.ico</key>
						<dict>
							<key>Digest</key>
							<data>
							aKxVOgf2vHiDc1DBll9S
							Mg==
							</data>
							<key>Size</key>
							<integer>146647</integer>
						</dict>
						<key>files/small_37033.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_37060.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_37079.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/stacks_image_12404.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1KYhOc4L5sOm1Hv520bX
							PA==
							</data>
							<key>Size</key>
							<integer>363069</integer>
						</dict>
						<key>files/stacks_image_12411.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ChpyyVrPpzTl4pTXF1tj
							oA==
							</data>
							<key>Size</key>
							<integer>298676</integer>
						</dict>
						<key>files/stacks_image_12418.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							MfhbmjBCaGUpbXuugAxk
							lg==
							</data>
							<key>Size</key>
							<integer>324666</integer>
						</dict>
						<key>files/stacks_image_6866.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JFEHOJNSm2UOOPKceFQZ
							tg==
							</data>
							<key>Size</key>
							<integer>189503</integer>
						</dict>
						<key>files/stacks_image_6874.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1th57ky84nvKi5q7JcN8
							Pw==
							</data>
							<key>Size</key>
							<integer>282408</integer>
						</dict>
						<key>files/stacks_image_6879.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Mng+RJtjwGj96iCCin3+
							jg==
							</data>
							<key>Size</key>
							<integer>329771</integer>
						</dict>
						<key>files/stacks_page_page8.css</key>
						<dict>
							<key>Digest</key>
							<data>
							L0qGngJzCfni5kjvyofS
							pQ==
							</data>
							<key>Size</key>
							<integer>98349</integer>
						</dict>
						<key>files/stacks_page_page8.js</key>
						<dict>
							<key>Digest</key>
							<data>
							EKiACG9DIMxOzuKTvyLz
							xQ==
							</data>
							<key>Size</key>
							<integer>59471</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							xrHAeurz/ezYLJWsxNzs
							6g==
							</data>
							<key>Size</key>
							<integer>22644</integer>
						</dict>
						<key>rw_common/images/Logo4</key>
						<dict>
							<key>Digest</key>
							<data>
							FSFJlQoHnHkyVDX7ZTmf
							Zw==
							</data>
							<key>Size</key>
							<integer>24618</integer>
						</dict>
						<key>rw_common/version.txt</key>
						<dict>
							<key>Digest</key>
							<data>
							PSw+ybCxmaEFtRQ2jKio
							2w==
							</data>
							<key>Size</key>
							<integer>5</integer>
						</dict>
						<key>sitemap.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							lEHX6reH1fqasXp2X5A0
							cQ==
							</data>
							<key>Size</key>
							<integer>541</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page8</string>
					<key>SiteRoot</key>
					<string></string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
