<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Ferrari Scuderia</string>
				<key>CreatedDate</key>
				<date>2015-01-08T14:08:55Z</date>
				<key>ID</key>
				<string>page12</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Ferrari Scuderia</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2015-01-26T16:23:36Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bg_fill.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							wUbY6KRRk5YtB5fC9IbM
							ug==
							</data>
							<key>Size</key>
							<integer>45</integer>
						</dict>
						<key>files/small_26949.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_26978.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_26999.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OT1FWXhgL+1fIdzKSqV9
							Dw==
							</data>
							<key>Size</key>
							<integer>5827</integer>
						</dict>
						<key>files/small_36776.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							EgovnkaiF7KI497STj8N
							9g==
							</data>
							<key>Size</key>
							<integer>61880</integer>
						</dict>
						<key>files/stacks_image_12871.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Z4e3r9jHCFY4jWUKtgH4
							aQ==
							</data>
							<key>Size</key>
							<integer>224542</integer>
						</dict>
						<key>files/stacks_image_12926.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							uD91IVyIpA1UgSpLwRMD
							Cw==
							</data>
							<key>Size</key>
							<integer>119753</integer>
						</dict>
						<key>files/stacks_image_1725.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							HeMq5IIMpa+/XmkMhH6Q
							Iw==
							</data>
							<key>Size</key>
							<integer>236873</integer>
						</dict>
						<key>files/stacks_image_1728.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							nWcJwYZ33lX7eCjT2qMG
							8A==
							</data>
							<key>Size</key>
							<integer>215758</integer>
						</dict>
						<key>files/stacks_image_1731.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							dp7lAHRJB75lQlToRqjj
							Qw==
							</data>
							<key>Size</key>
							<integer>218417</integer>
						</dict>
						<key>files/stacks_image_1800.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ra4K6H8PXLQOEaf6tGR/
							zg==
							</data>
							<key>Size</key>
							<integer>172072</integer>
						</dict>
						<key>files/stacks_image_1803.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Zs4iqSORdAzVlfAsebtT
							wA==
							</data>
							<key>Size</key>
							<integer>243337</integer>
						</dict>
						<key>files/stacks_image_1810.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Lk8gHUXPIuLErjs/8hqR
							7A==
							</data>
							<key>Size</key>
							<integer>237150</integer>
						</dict>
						<key>files/stacks_image_1975.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							gofk4G5hcDmWEWplzMc8
							SQ==
							</data>
							<key>Size</key>
							<integer>51238</integer>
						</dict>
						<key>files/stacks_image_1983.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QqiCYhSBCqpzd/rGTX5s
							dg==
							</data>
							<key>Size</key>
							<integer>202527</integer>
						</dict>
						<key>files/stacks_image_1986.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bEq/oXNs1hKFZ36bkngh
							2g==
							</data>
							<key>Size</key>
							<integer>213650</integer>
						</dict>
						<key>files/stacks_image_1989.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							2mwO1qmHHSQQnNjEkNKj
							PQ==
							</data>
							<key>Size</key>
							<integer>213025</integer>
						</dict>
						<key>files/stacks_page_page12.css</key>
						<dict>
							<key>Digest</key>
							<data>
							YkJZKsNJrqxb8QfWqkRS
							nw==
							</data>
							<key>Size</key>
							<integer>143567</integer>
						</dict>
						<key>files/stacks_page_page12.js</key>
						<dict>
							<key>Digest</key>
							<data>
							XAdYUWCZeXOskCn7x3r5
							OQ==
							</data>
							<key>Size</key>
							<integer>68023</integer>
						</dict>
						<key>index.html</key>
						<dict>
							<key>Digest</key>
							<data>
							7nNP3BODryj+GiO9B2uE
							FQ==
							</data>
							<key>Size</key>
							<integer>44554</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page12</string>
					<key>SiteRoot</key>
					<string>work/ferrari</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
